@import "reset.css";
@import "nav.css";
@import "variables.css";
@import "welcome.css";
@import "project.css";
@import "contact.css";
@import "footer.css";

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--main-white);
    line-height: 1.4;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;

}

img {
    display: block;
    width: 100%;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

a {
    text-decoration: none;
    color: var(--main-white);
  }

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}